<h1>Lists#index</h1>

<div>
  <ul>
    <% @lists.each do |list| %>
      <li><%= link_to list.name, list_path(list) %></li>
    <% end %>
  </ul>
  <%= link_to "create a list", new_list_path %>
</div>
